.navContainer {
    display: flex;
    color: #13101C;
    background-color: #E5AFE3;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.navmenu {
    display: flex;
    gap: 2rem;
}

.logo {
    vertical-align: middle;
}